<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
    <style>
        body {
            background-image: url('');
            background-repeat: no-repeat;
            background-attachment: fixed;

            background-size: cover;
        }
    </style>
</head>


<body>
    <div class="<div class=" container-fluid"
        style="align-content: center; align-items: center; text-align: center;margin-top: 10%; ">
        <div class="container-sm p-5 bg-primary text-white" style="width: 40%; text-align: center;">
            <form method="post" action="/users">
                <!-- <a  href="/add" style="font-size: 40px; text-align: left; color: white; text-decoration: none; " >New User</a><br><br> -->
                <label for="name">name</label>
                <input type="text" autocomplete="off" name="name" id="name" placeholder="name"><br><br>
                <label for="email">Email addr.</label>
                <input type="email" autocomplete="off" name="email" id="email" placeholder="Email Address"><br><br>
                <label for="active">active</label>
                <input type="text" autocomplete="off" name="active" id="active" placeholder="active"><br><br>
                <label for="wallet">wallet</label>
                <input type="wallet" autocomplete="off" name="wallet" id="wallet" placeholder="wallet"><br><br>
                
                <input class="btn btn-dark" type="submit" value="submit"><br><br>
            </form>

        </div>

    </div>
    </div>
</body>

</html>